<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/static/theme.css" type="text/css"> </head>

<body style="background-image: url(&quot;/static/images/bg-01.jpg&quot;);background-size:cover;">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <b>WIS Token</b>
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto px-5">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <b>About</b>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">
              <b>Contact us</b>
            </a>
          </li>
        </ul>
        <a class="btn mx-3 btn-dark" href="/registration">
          <b>REGISTRATION</b>
        </a>
        <a class="btn btn-dark" href="/login">
          <b>LOGIN </b>
          <br> </a>
      </div>
    </div>
  </nav>
  <div class="text-center py-5" >
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6">
          <h1 class="display-3 mb-4 text-light">heading</h1>
          <p class="lead mb-5 text-light">Will enter some details about the registration process Will enter some details about
            <br>&nbsp; &nbsp;the registration process&nbsp;</p>
          <a href="/registration" class="btn mx-5 w-25 btn-lg btn-warning">
            <b class="">Registration</b>
          </a>
        </div>
        <div class="col-md-6">
          <h1 class="display-3 mb-4 text-light">heading</h1>
          <p class="lead mb-5 text-light">Will enter some details about the registration process Will enter some details about &nbsp;
            <br>&nbsp;the registration process&nbsp;</p>
          <a href="/login" class="btn mx-5 w-25 btn-success btn-lg">
            <b class="">Login</b>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
